* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

# Shell scripts harus LF (untuk container Linux)
*.sh text eol=lf
captain-definition text eol=lf
Dockerfile text eol=lf
